<%= form_with(model: @tweet) do |form| %>
  <h1>twitter</h1>

  <div id="add-tweet-container">
    <%= form.text_field :tweet , id: "tweet-box", maxlength: 140, placeholder: "tweet" %>
  </div>

  <div>
    <%= form.submit value:"Add Tweet" %>
  </div>
<% end %>
